               
               <div class="col" data-name="{{product_name}}" data-price="{{price}}">
          <div class="card shadow-sm">
           <img class="card-img-top" src="{{image}}">   
            <div class="card-body">
              <p class="card-text">{{product_name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">    {{price}}</button>
                <a href="#" data-product="{{id}}" class="addtocart btn btn-sm btn-outline-secondary"> ADD TO CART </a>
                </div>
                <small class="text-body-secondary">   {{stock}} </small>
              </div>
            </div>
          </div>
        </div>
       
