<main class="container">
  <div class="table-responsive">
    <table
      class="table-primary table table-striped table-hover table-borderless table-dark align-middle"
    >
      <thead class="table-primary table table-striped table-hover table-borderless table-dark align-middle">
        <tr>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Quantity</th>
          <th><a class="btn-lg btn btn-outline-secondary" href="/checkout">Checkout</a></th>
          
        </tr>
      </thead>
      
      <tbody class="table-group-divider">
          {{#each cart.products as |product|}}
        <tr class="table-primary table table-striped table-hover table-borderless table-dark align-middle">
          <td scope="row"><img class="cartimage" src="{{product.image}}"></td>
          <td>{{product.product_name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.stock}}</td>
          <td><button data-product="{{product.id}}" class="btn btn-outline-secondary clearCartBtn">Clear Cart</button></td>
        </tr>
        {{/each}}
       
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>
  
</main>