<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 mb-3 text-center bg-body-tertiary">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">MyLittleWebShop</h1>
      <p class="lead fw-normal">Spinup a quick self-hosted ecom store</p>
      <a class="btn btn-outline-secondary" href="#">See what we can do !</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <!-- If the user is logged in, render the gallery content
  {{#if loggedIn}}

    {{#each products as |product|}}
       {{> product-item product}}
    {{/each}}  -->

<!-- Otherwise, provide a link to login 
{{else}} -->
<!-- 
 Product model:
 {
    // define columns
    id: {
      type: DataTypes.INTEGER,
      allowNull: false,
      primaryKey: true,
      autoIncrement: true,
    },
    image: {
      type: DataTypes.STRING,
      allowNull: true
    },
    product_name: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    price: {
      type: DataTypes.DECIMAL(10,2),
      allowNull: false,
      validate: {
        isDecimal: true,
      },
    },
    stock: {
      type: DataTypes.INTEGER,
      allowNull: false,
      is: 10,
      validate: {
        isNumeric: true
      }
    },
    category_id: {
      type: DataTypes.INTEGER,
      references: {
        model: "category",
        key: "id"
      }
    },
     user_id: {
        type: DataTypes.INTEGER,
      references: {
        model: "user",
        key: "id"
      }

      
    }

<a href="/login">You must login first to view this page</a> -->


    {{#each products as |product|}}
 <!--   {{product.product_name}}
    {{product.image}}
    {{product.price}}
    {{product.stock}} -->
               <div class="col">
          <div class="card shadow-sm">
           <img class="card-img-top" src="{{product.image}}">   
            <div class="card-body">
              <p class="card-text">{{product.product_name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">    {{product.price}}</button>
                <button type="button" id="addtocart" data-product="{{product.id}}" class="btn btn-sm btn-outline-secondary"> ADD TO CART </button>
                </div>
                <small class="text-body-secondary">   {{product.stock}} </small>
              </div>
            </div>
          </div>
        </div>
    {{/each}}
<!-- {{/if}} -->
      </div>
    </div>
  </div>

  

  

  
</main>